[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/highway"]
	path = third_party/highway
	url = https://github.com/google/highway
